<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최근방송</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        너의 목소리가 읽혀
    </header>
    <main>
        <!-- 방송 목록 -->
        <section id="broadcast-list">
            <h2>- 최근 방송 STT</h2>
            <div class = "box">
                <p style="text-align: center;">stt write here</p>
            </div>
            <br>
            <h2>- Broadcast List</h2>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody id="broadcast-table">
                    <!-- JavaScript로 동적 추가 -->
                </tbody>
            </table>
        </section>
    </main>

    <script src="/static/scripts.js"></script>
</body>
</html>
